<div class = 'searchbar'>
    <i class="fa fa-search fa-fw" aria-hidden="true"></i>
    <input class='bar' type = 'text' placeholder = 'search'> 
    <i class="fa fa-caret-left fa-fw sicon" aria-hidden="true"></i>
    <div class = 'sicon2'>
        <i class="fa fa-caret-left" aria-hidden="true"></i>
        <i class="fa fa-caret-left" aria-hidden="true"></i>
    </div>
    <i class="fa fa-caret-right fa-fw sicon" aria-hidden="true"></i>
    <i class = "fa fa-times fa-fw sicon" aria-hidden="true"></i> 
</div>