.flex-container-a{
    display: flex;
    padding-top: 30px;
    padding-left: 60px;
}

.flex-container-b{
    display: flex;
    padding-top: 5px;
    padding-left: 60px;
}

.bfunctions{
    margin-left: 25px;
    font-size: 18px;
}

.bicon{
    margin-top: 5px;
    color:hsla(221, 96%, 51%, 0.863);
}