<div class = 'menu'>
    <div class = 'flex-container-a'>
        <i class='fa fa-caret-down fa-fw bicon' aria-hidden='true'></i>
        <p class ='bfunctions'> inbox </p>
    </div>
    <div class = 'flex-container-b'>
        <i class="fa fa-caret-right fa-fw bicon" aria-hidden="true"></i>
        <p class ='bfunctions'> drafts </p>
    </div>
    <div class = 'flex-container-b'>
        <i class="fa fa-caret-right fa-fw bicon" aria-hidden="true"></i>
        <p class ='bfunctions'> sent </p>
    </div>
    <div class = 'flex-container-b'>
        <i class="fa fa-flag fa-fw bicon" aria-hidden="true"></i>
        <p class ='bfunctions'> spam </p>
    </div>
    <div class = 'flex-container-b'>
        <i class="fa fa-times fa-fw bicon" aria-hidden="true"></i>
        <p class ='bfunctions'> trash </p>
    </div>
</div>
