.info-container{
    display: flex;
    padding-top: 30px;
    margin-left: 30px;
}

.info{
    margin-left: 5%;
}

#name{
    font-size: 30px;
}

#nemail{
    font-size: 13px;
    color: rgba(100, 100, 100, 0.726);
}

#profilepicture{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
